/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: $secondary-color;
  color: #444444;
  margin: 0;
  min-height: 100%;
}

picture,
source {
  display: contents;
}
