$main-color: #68b738;
$secondary-color: #ffffff;
$font-color: "Oswald", "Arial", sans-serif;
$mobile-width-max: 767px;
$tablet-width: 768px;
$tablet-width-max: 1439px;
$desktop-width: 1440px;
$mobile-container-width: 87%;
$tablet-container-width: 92%;
$desktop-container-width: 1220px;
$viewport-tablet: "min-width: 768px";