.advantages__title{
    font-family: Oswald;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}

.advantages__item{
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;  
    list-style: none;
}
.advantages__item::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color:$green;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .advantages__item--leaf::before{
    background-image: url("/icons/stack.svg#leaf-icon");
    }

    .advantages__item--water::before{
     background-image:url("/icons/stack.svg#water-icon");
    }

    .advantages__item--fork::before{
    background-image:url("/icons/stack.svg#eat-icon");  

    }

    .advantages__item--clock::before{
    background-image:url("/icons/stack.svg#clock-icon");
    }

    