.button {
  display: block;
  padding: 10px;
  font-family: $font-color;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
}

.hero__button {
  display: block;
  padding: 10px;
  font-family: $font-color;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  width: 280px;
  min-height: 40px;
  color: $secondary-color;
  background-color: $main-color;
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 270px;
    left: 120px;

    width: 244px;
    min-height: 54px;

    font-size: 20px;
    line-height: 30px;
  }
  @media (min-width: $desktop-width) {
    position: static;

    margin-left: 80px;
  }
}

.card__button {
  min-height: 40px;
  min-width: 169px;
  @include button;
  @media (max-width: $mobile-width-max) {
    grid-column: 1 / 3;
  }
}

.cards__button {
  grid-column: 1 / 3;
  min-height: 40px;
  @include button;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
  }
}

.examples__button {
  position: absolute;
  display: block;

  @include centring-positioned-element;

  width: 40px;
  height: 40px;

  border: 2px solid #666666;
  border-radius: 50%;
  background-color: $secondary-color;
  cursor: pointer;
}

.examples__button::after {
  content: "";
  position: absolute;

  @include centring-positioned-element;

  width: 24px;
  height: 18px;

  mask-image: url("../../icons/stack.svg#slider-arrows");
  mask-repeat: no-repeat;
  background-color: #666666;
}

.examples__button::before {
  content: "";
  position: absolute;
  top: -110px;
  right: 16px;

  width: 4px;
  height: 256px;

  background-image: linear-gradient(
    to bottom,
    #666666 110px,
    transparent 110px,
    transparent 147px,
    #666666 147px
  );

  @media (min-width: $tablet-width) {
    top: -240px;
    height: 512px;

    background-image: linear-gradient(
      to bottom,
      #666666 240px,
      transparent 240px,
      transparent 276px,
      #666666 276px
    );
  }
}

.examples__button:hover {
  border-color: $main-color;
}

.examples__button:hover::after {
  background-color: $main-color;
}

.examples__button:hover::before {
  background-image: linear-gradient(
    to bottom,
    $main-color 110px,
    transparent 110px,
    transparent 147px,
    $main-color 147px
  );

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(
      to bottom,
      $main-color 240px,
      transparent 240px,
      transparent 276px,
      $main-color 276px
    );
  }
}

.examples__button:active {
  border-color: rgba(94, 170, 47, 0.6);
}

.examples__button:active::after {
  background-color: rgba(94, 170, 47, 0.6);
}

.examples__button:active::before {
  background-image: linear-gradient(
    to bottom,
    rgba(94, 170, 47, 0.6) 110px,
    transparent 110px,
    transparent 147px,
    rgba(94, 170, 47, 0.6) 147px
  );

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(
      to bottom,
      rgba(94, 170, 47, 0.6) 240px,
      transparent 240px,
      transparent 276px,
      rgba(94, 170, 47, 0.6) 276px
    );
  }
}

.subscribe__button {
  width: 100%;
  @include button;

  @media (min-width: $tablet-width) {
    width: 256px;
    height: 56px;
  }
}

.more__button {
  width: 100%;
  min-height: 40px;
  min-width: 169px;
  @include button;
}
