.card__button{
font-family: Oswald;
font-weight: 400;
font-size: 16px;
line-height: 20px;
background-color:$green;
color:#FFFFFF;
}

.more__button{
    font-family: Oswald;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color:$grey;
    text-transform: uppercase;
}

.cards__button{
font-family: Oswald;
font-weight: 400;
font-size: 16px;
line-height: 20px;
background-color:$green;
color:#FFFFFF;   
}

.subscribe__button{
font-family: Oswald;
font-weight: 400;
font-size: 20px;
line-height: 26px;
background-color:$green;
color:#FFFFFF;
}

.hero__button{
font-family: Oswald;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
background-color:$green;
color:#FFFFFF; 
}