.card {
  display: grid;

  @media (max-width: $mobile-width-max) {
    grid-template-columns: 1fr 1fr;

    border-top: 1px solid #ebebeb;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    position: relative;

    width: 100%;

    background-color: #f2f2f2;
  }
}

.card__link {
  text-decoration: none;

  @media (max-width: $mobile-width-max) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    place-self: center center;
    padding-bottom: 15px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;

    @include position;
    top: 33px;

    @include flex();

    width: 200px;
    height: 210px;
  }
}

.card__title-link {
  color: #222222;
  text-decoration: none;

  @media (max-width: $mobile-width-max) {
    grid-column: 2 / 3;

    width: 55%;
  }

  @media (min-width: $tablet-width) {
    justify-self: center;

    margin-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.card__title {
  font-family: $font-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    @include flex(column, center, center);

    font-size: 20px;
    line-height: 24px;
  }
}

.card__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: $mobile-width-max) {
    grid-column: 2 / 3;
    margin-bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 26px;
  }
}

.card__item {
  @include flex(row, space-between, center);

  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 7px;
    padding-bottom: 4px;

    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
  }
}

