.developer {
  color: #444444;
  text-decoration: none;

  @media (max-width: $mobile-width-max) {
    color: #444444;
    text-decoration: none;
    margin-top: 3px;
  }
}

.developer::after {
  content: "";
  display: block;
  mask-image: url("../../icons/stack.svg#academy-logo");
  background-color: #666666;
  mask-size: 27px 34px;
  mask-repeat: no-repeat;
  width: 27px;
  height: 34px;
}

.developer:hover::after {
  background-color: $main-color;
}

.developer:active::after {
  opacity: 0.3;
}

.developer__title {
  font-size: 16px;
  line-height: 20px;

  @media (max-width: $mobile-width-max) {
    font-size: 16px;
    line-height: 20px;
    margin-right: 138px;
    margin-top: -7px;
  }
}

.developer__title:active {
  opacity: 0.3;
}
