.examples {
  padding: 25px 0 40px;
  background-color: #eaeaea;
  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0 206px;
    background: linear-gradient( to bottom, #ffffff 0% 25%,#f2f2f2 25% 100%);
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    background: linear-gradient( to bottom, #ffffff 0% 25%,#f2f2f2 25% 100%);
    border-top: none;
    padding: 0 70px;
  } 
}

.examples__container {
  display:grid;
  grid-template-columns: 1fr;
  padding: 0;
  width: 100%;
  max-width: 1220px;
  margin:0 auto;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $mobile-width-max) {
    
  }
}

.examples__sort {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    margin-bottom: 106px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    padding: 72px 0;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width-max) {
    margin: 0 auto;
    margin-left: 18px;
    
  }
}

.examples__title {
  width: $mobile-container-width;
  margin: 0 auto;
  margin-bottom: 40px;

  font-family: $font-color;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: $tablet-width) {
    width: $tablet-container-width;
    margin-bottom: 60px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-container-width;
    margin-bottom: 75px;
    grid-column: 1/-1;
  }
}

.examples__subtitle {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 55px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;

    width: 432px;
    margin-bottom: 68px;
  }
}

.examples__item {
  @include flex();
  position: relative;

  width: 44%;
  padding: 14px 0 18px;

  border: 1px solid #cdcdcd;
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    width: 52%;
    padding: 15px 0 18px;
  }

  @media (min-width: $desktop-width) {
    width: 368px;
  }
}

.examples__list {
  @include flex(row, space-between, center);

  margin: 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    width: 52%;
    margin-bottom: 0;
    gap: 45px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    gap: 8%;

    width: 50%;
    margin-bottom: 56px;
  }
}

.examples__number {
  font-family: $font-color;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.examples__name {
  position: absolute;
  transform: translateY(100%) translateY(10px);

  width: 90px;
  margin: 0;
  padding: 0 5px;

  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    transform: translateY(100%) translateY(21px);

    width: auto;
    padding: 0 7px;

    font-size: 14px;
    line-height: 14px;
    background-color: $secondary-color;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.examples__description {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;

  font-family: $font-color;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 25%;
    margin: 0;

    font-size: 20px;
    line-height: 28px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-left: 3px;

    text-align: left;
  }
}


.examples__image-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 140px);

  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: 280px 0 280px;
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns:280px 0 280px;
    width: 562px;
    margin-top: -133px;
    margin-left: -75px;
  }

}

.examples__before {
  grid-column: 1 / 2;
  object-fit: cover;
  object-position: left;
  width: 140px;
  height: 256px;
  @media (min-width: $tablet-width) {
    width: 280px;
    height: 512px;
  }
}

.examples__after {
  grid-column: 2 / 3;
  object-fit: cover;
  object-position: right;
  width: 140px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 280px;
    height: 512px;
  }
}

.examples__button {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 2px solid #666666;
  border-radius: 50%;
  background-color: $secondary-color;
  cursor: pointer;
}

.examples__button::after {
  content: "";
  position: absolute;

  @include centring-positioned-element;

  width: 24px;
  height: 18px;

  mask-image: url("../../icons/stack.svg#slider-arrows");
  mask-repeat: no-repeat;
  background-color: #666666;
}

.examples__button::before {
  content: "";
  position: absolute;
  top: -110px;
  right: 16px;
  width: 4px;
  height: 256px;

  background-image: linear-gradient( to bottom,#666666 110px, transparent 110px, transparent 147px,#666666 147px );

  @media (min-width: $tablet-width) {
    top: -240px;
    height: 512px;
    background-image: linear-gradient( to bottom, #666666 240px, transparent 240px, transparent 276px,#666666 276px);
  }
}

.examples__button:hover {
  border-color: $main-color;
}

.examples__button:hover::after {
  background-color: $main-color;
}

.examples__button:hover::before {
  background-image: linear-gradient( to bottom, $main-color 110px transparent 110px, transparent 147px, $main-color 147px );

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom, $main-color 240px, transparent 240px, transparent 276px, $main-color 276px);
  }
}

.examples__button:active {
  border-color: rgba(94, 170, 47, 0.6);
}

.examples__button:active::after {
  background-color: rgba(94, 170, 47, 0.6);
}

.examples__button:active::before {
  background-image: linear-gradient(to bottom, rgba(94, 170, 47, 0.6) 110px, transparent 110px, transparent 147px,rgba(94, 170, 47, 0.6) 147px);

 @media (min-width: $tablet-width) {
    background-image: linear-gradient( to bottom, rgba(94, 170, 47, 0.6) 240px, transparent 240px,transparent 276px,rgba(94, 170, 47, 0.6) 276px);
  }
}

.examples__summary-price{
  margin-left: 61px;
}
