.examples__title{
    font-family: Oswald;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color:$black;  
}

.examples__subtilte{
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color:$dark-grey;
}

.examples__description{
    font-family: Oswald;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color:$black; 
    text-transform: uppercase;
} 

.arguments{
list-style: none;
}

.arguments__number{
font-family: Oswald;
font-weight: 400;
font-size: 24px;
line-height: 24px;
}

.arguments__name{
font-family: Lato;
font-weight: 400;
font-size: 12px;
line-height: 12px;
}