.hero{
background-color: $green;
font-family: Oswald;
color:$white;
}

.hero__ttile{
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
}
 
.hero_subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}
