.nav{
    font-family: Oswald;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.nav__item{
   list-style: none;
}

.nav__link{
    color:$black;
    text-decoration: none;
}

.nav__button{
    width: 24px;
    height: 24px;
    mask-image: url("/icons/stack.svg#navigation");
    background-color: $black;
}
