.social{
 margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link__vk{
mask-image: url("/icons/stack.svg#vkontakte");
background-color: #666666;
}

.social__link__yotube{
mask-image: url("/icons/stack.svg#youtube");
background-color: #666666;
}

.social__link__telegram{
mask-image: url("/icons/stack.svg#telegram");
background-color: #666666;
}